<a href="https://colab.research.google.com/github/T-OKAY/study_001/blob/main/study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
customer_master = pd.read_csv('/content/drive/MyDrive/Python実践データ分析100本ノック/1章/customer_master.csv')
customer_master.head()

,customer_id,customer_name,registration_date,customer_name_kana,email,gender,age,birth,pref
0,IK152942,平田 裕次郎,2019-01-01 00:25:33,ひらた ゆうじろう,hirata_yuujirou@example.com,M,29,1990/6/10,石川県
1,TS808488,田村 詩織,2019-01-01 01:13:45,たむら しおり,tamura_shiori@example.com,F,33,1986/5/20,東京都
2,AS834628,久野 由樹,2019-01-01 02:00:14,ひさの ゆき,hisano_yuki@example.com,F,63,1956/1/2,茨城県
3,AS345469,鶴岡 薫,2019-01-01 04:48:22,つるおか かおる,tsuruoka_kaoru@example.com,M,74,1945/3/25,東京都
4,GD892565,大内 高史,2019-01-01 04:54:51,おおうち たかし,oouchi_takashi@example.com,M,54,1965/8/5,千葉県

In [12]:
item_master = pd.read_csv('/content/drive/MyDrive/Python実践データ分析100本ノック/1章/item_master.csv')
item_master.head()

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [13]:
transaction_1_master = pd.read_csv('/content/drive/MyDrive/Python実践データ分析100本ノック/1章/transaction_1.csv')
transaction_1_master.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [14]:
transaction_2_master = pd.read_csv('/content/drive/MyDrive/Python実践データ分析100本ノック/1章/transaction_2.csv')
transaction_2_master.head()

  transaction_id   price         payment_date customer_id
0    T0000005113  295000  2019-06-15 07:20:27    TS169261
1    T0000005114   50000  2019-06-15 07:35:47    HI599892
2    T0000005115   85000  2019-06-15 07:56:36    HI421757
3    T0000005116   50000  2019-06-15 08:40:55    OA386378
4    T0000005117  120000  2019-06-15 08:44:23    TS506913

In [15]:
transaction_detail_1_master = pd.read_csv('/content/drive/MyDrive/Python実践データ分析100本ノック/1章/transaction_detail_1.csv')
transaction_detail_1_master.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [16]:
transaction_detail_2_master = pd.read_csv('/content/drive/MyDrive/Python実践データ分析100本ノック/1章/transaction_detail_2.csv')
transaction_detail_2_master.head()

   detail_id transaction_id item_id  quantity
0       5000    T0000004870    S002         3
1       5001    T0000004871    S003         1
2       5002    T0000004872    S001         2
3       5003    T0000004873    S004         1
4       5004    T0000004874    S003         2

In [17]:
transaction = pd.concat([transaction_detail_1_master, transaction_detail_2_master], ignore_index=True)
transaction.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [18]:
print(len(transaction_detail_1_master))
print(len(transaction_detail_2_master))
print(len(transaction))

5000
2144
7144